<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="../../../Logs/internal-nlog.txt">
  <targets>
    <target xsi:type="File" name="mvcRequestLogs"
            fileName="../../../Logs/contract_features_mvc_requests.log"
            maxArchiveFiles="31"
            layout="${message} ${exception}"
            archiveFileName="../../../Logs/archives/contract_features_requests_{#}.log"
            archiveNumbering="Date"
            archiveEvery="Day" >
      <layout type="JsonLayout" includeAllProperties="true">
        <attribute name="dateTime" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
        <attribute name="requestId" layout="${aspnet-traceidentifier}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=2}" />
      </layout>
    </target>
    <target xsi:type="File" name="serverEventLogs"
            fileName="../../../Logs/contract_features_server_events.log"
            maxArchiveFiles="31"
            archiveFileName="../../../Logs/archives/contract_features_server_events_{#}.log"
            archiveNumbering="Date"
            archiveEvery="Day">
      <layout type="JsonLayout" includeAllProperties="true">
        <attribute name="dateTime" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
        <attribute name="requestId" layout="${aspnet-traceidentifier}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=2}" />
      </layout>
    </target>
    <target xsi:type="File" name="realtimeLogs"
            fileName="../../../Logs/contract_features_realtime.log"
            maxArchiveFiles="31"
            archiveFileName="../../../Logs/archives/contract_features_realtime_{#}.log"
            archiveNumbering="Date"
            archiveEvery="Day">
      <layout type="JsonLayout" includeAllProperties="true">
        <attribute name="dateTime" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
        <attribute name="requestId" layout="${aspnet-traceidentifier}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=toString,Data:maxInnerExceptionLevel=2}" />
      </layout>
    </target>
    <target xsi:type="Console" name="defaultConsole" />
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="defaultConsole" />
    <logger name="LogApiRequest.Core.LogApiRequestMiddleware" minlevel="Info" writeTo="mvcRequestLogs" final="true" />
    <logger name="ContractFeatures" minlevel="Info" writeTo="realtimeLogs" final="true" />
    <logger name="*" writeTo="serverEventLogs" />
  </rules>
</nlog>